 <div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">

        <div class="inner">
          {{#link-to "index" tagName="h3" class="masthead-brand headlink"}}Escape{{/link-to}}
          <nav>
            <ul class="nav masthead-nav">
              {{#link-to "index" tagName="li" class="headlink"}}Home{{/link-to}}
              {{#link-to "instructions" tagName="li" class="headlink"}}Instructions{{/link-to}}
              {{#link-to "scores" tagName="li" class="headlink"}}High Scores{{/link-to}}
              {{#link-to "contact" tagName="li" class="headlink"}}Contact{{/link-to}}
            </ul>
          </nav>
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>

