<div class="inner cover">
  <h1 class="cover-heading">Potato</h1>
  <p class="lead">Hot Potato Hot Potato Hot Potato Hot Potato.</p>
  <p class="lead">
    <a href="/game" class="btn btn-lg btn-default">Play</a>
  </p>
</div>
{{outlet}}
