<div class="inner cover">
  <h1 class="cover-heading">Escape the Flatiron Islands</h1>
  <p class="lead">Euron is coming! Will you survive?</p>
  <div id="sigil-container">
    <a href="/game" class="btn btn-lg btn-default" id="sigil-btn">Play</a>
    <img src="/assets/images/house_greyjoy_sigil.png" id="sigil-img">
  </div>
</div>

{{outlet}}
