<div class="inner cover">
  <br>
  <h1 class="cover-heading game-of-thrones">Escape the Flatiron Islands</h1>
  <p class="lead">Euron is coming! Will you survive? Enter your name below.</p>
  <br>
  <div id="sigil-container">
    {{input enter="enter" name="username" id="username-input" placeholder="Username"}}
    <img src="/assets/images/house_greyjoy_sigil.png" id="sigil-img">
  </div>
</div>

{{outlet}}
