<ul style="list-style-type: none;">
  <li><h3>Use the left and right arrow keys <img src="assets/images/left_arrow_key.png" width="50px"> <img src="assets/images/right_arrow_key.png" width="50px"> to turn</h3></li>
  <li><h3>Avoid Euron's Iron Fleet! <img src="assets/images/sprites/pirate_ship_twomast.png"></h3></li>
</ul>
{{outlet}}