<div id="instructions">
  <ul style="list-style-type: none; color: #eee">
    <li><h4>Use the left and right arrow keys <img src="assets/images/left_arrow_key.png" width="50px"> <img src="assets/images/right_arrow_key.png" width="50px"> to turn</h4></li>
    <br>
    <li><h4>Pilot your flagship, <em>The Kraken</em>, away from the reavers of Euron's fleet!</h4></li>
    <br>
    <li><h4>Elude your pursuers until a whirlpool appears, then steer into it.</h4></li>
    <br>
    <li><h4>True Ironborn don't fear the maelstrom.</h4></li>
    <br>
    <li><h2 class="game-of-thrones">What is dead may never die</h2></li>
  </ul>
</div>

{{outlet}}